<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name , "名前"%>
      <%= f.text_field :name, class:'form-control' %>
      
      <%= f.label :email , "Email"%>
      <%= f.email_field :email, class:'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password,class:'form-control' %>

      <%= f.label :password_confimation, "確認用" %>
      <%= f.password_field :password_field, class:'form-control' %>

      <%= f.submit "アカウント作成", class: "btn btn-primary" %>
  <% end %>
  </div>
</div>
