<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
    フォーム内に <%= pluralize(object.errors.count,"") %> つのエラーがあります
    </div>
    <ul>
      <%= object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

